.gradient-text {
    background: linear-gradient(90deg, #05306b, #02949e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }